.container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid rgb(176, 187, 176);
    justify-content: space-evenly;
    width: 95%;
    margin: auto ;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.info{
    display: flex;
    flex-direction: column;
}
.title{
    text-align: center;
    font-weight: 400;
}
label{
    font-size: 1.1rem;
    min-width: 100px;
}
p{
    font-size: 1rem;
    resize: horizontal;  
}
.path-ext > p{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.path > p{
    cursor: pointer;
    color: rgb(17, 155, 209);
    
}
.path:hover > p{
    text-decoration: underline;
}
@media (min-width: 600px){
 .info{
    display: flex;
    flex-direction: row;
   }
 .container{
     width: 50%;
 }
}